* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

h2 {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 36px;
}

.container {
  max-width: 1140px;
}

header nav {
  position: fixed;
  z-index: 5;
  background-color: #fff;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav .logo {
  width: 200px;
  margin-left: 50px;
}

header nav .nav-links {
  width: 35%;
  margin: 0 10px;
  list-style: none;
  color: #1856ff;
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header nav .nav-links a {
  text-decoration: none;
  color: #1448d6;
}

@media (min-width: 800px) {
  header nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  background: url("../assets/intro-bg.png") center bottom no-repeat;
  background-size: cover;
  padding: 150px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .container {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media (min-width: 1000px) {
  .hero .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero .container img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 1000px) {
  .hero .container img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.hero .container .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 1000px) {
  .hero .container .hero-content {
    text-align: left;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.hero .container h2 {
  color: #fff;
  font-size: 33px;
  font-weight: 500;
}

@media (min-width: 1000px) {
  .hero .container h2 {
    font-size: 48px;
  }
}

.hero .container .hero-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (min-width: 1000px) {
  .hero .container .hero-cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero .container .hero-cta .hero-btn {
  width: 200px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 25px;
  margin: 10px 5px;
  padding: 15px;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
}

.hero .container .hero-cta .get-started {
  background-color: #007bff;
}

.hero .container .hero-cta .get-started:hover {
  background: transparent;
  border-color: #fff;
}

.hero .container .hero-cta .our-services {
  border-color: #fff;
}

.hero .container .hero-cta .our-services:hover {
  background-color: #007bff;
  border-color: transparent;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about,
.services,
.why,
.portfolio,
.testimonials,
.team,
.clients,
.contact-us,
footer {
  padding: 50px 20px;
}

@media (min-width: 900px) {
  .about,
  .services,
  .why,
  .portfolio,
  .testimonials,
  .team,
  .clients,
  .contact-us,
  footer {
    padding: 100px 20px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .container {
  max-width: 1140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .about .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about img {
  width: 60%;
}

@media (min-width: 900px) {
  .about img {
    width: 100%;
  }
}

.about h2 {
  text-align: center;
}

.about p {
  line-height: 1.7;
}

.about .flex-row {
  gap: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 900px) {
  .about .flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about .left,
.about .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about .left .flex-row {
  gap: 0;
  margin-top: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .about .left .flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about .left .feature-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.about .left .feature-text p {
  color: #444;
  font-size: 14px;
}

@media (min-width: 500px) {
  .about .left .feature-text {
    margin-top: 0;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

.about .left i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  border: 2px solid #007bff;
  border-radius: 50%;
  margin-right: 16px;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
  color: #007bff;
  font-size: 24px;
}

.about .left i:hover {
  color: #fff;
  background-color: #007bff;
}

.about-1 .left {
  text-align: center;
}

@media (min-width: 500px) {
  .about-1 .left {
    text-align: initial;
  }
}

.about-1 .right,
.about-3 .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 900px) {
  .about-1 .right,
  .about-3 .right {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.about-2 .flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about-2 .left {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 900px) {
  .about-2 .left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ecf5ff;
}

.services .container {
  max-width: 900px;
}

.services .container h2 {
  text-align: center;
}

.services .container .layout {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 32px;
  row-gap: 50px;
}

@media (min-width: 800px) {
  .services .container .layout {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
  }
}

.services .container .card {
  max-width: 600px;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  gap: 30px;
  overflow: hidden;
  padding: 30px;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.services .container .card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.services .container .card i {
  position: absolute;
  font-size: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  left: -10px;
}

.services .container .card .right {
  margin-left: 37px;
}

.services .container .card p {
  line-height: 1.7;
}

.services .container .card:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.why {
  background-color: #004a99;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why .container {
  padding: 20px;
}

.why .container h2 {
  text-align: center;
}

.why .container .reasons {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 900px) {
  .why .container .reasons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.why .container .reasons .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 35px;
  background-color: #00458f;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.why .container .reasons .card:hover {
  background-color: #00356e;
}

.why .container .reasons .card h3 {
  font-size: 28px;
  margin: 10px;
}

.why .container .reasons .card span {
  margin-top: 50px;
  -webkit-text-decoration: underline solid 2px #00458f;
          text-decoration: underline solid 2px #00458f;
}

.why .container .reasons .card i {
  font-size: 48px;
}

.why .container .analytics {
  margin-top: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 750px) {
  .why .container .analytics {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.why .container .analytics .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 40px 0px;
}

.why .container .analytics .item .number {
  font-size: 48px;
  font-weight: 600;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio h2 {
  text-align: center;
}

.portfolio .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: 125px;
  gap: 16px;
}

@media (min-width: 600px) {
  .portfolio .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .portfolio .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.portfolio .item {
  position: relative;
}

.portfolio .item img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.portfolio .item .overlay {
  border-radius: 12px;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.portfolio .item .content {
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.portfolio .item .content p:nth-child(1) {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 4px;
}

.portfolio .item .content p:nth-child(2) {
  margin-bottom: 4px;
}

.portfolio .item .content i {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 50%;
  background-color: #004289;
}

.portfolio .item:hover .overlay {
  background-color: rgba(0, 59, 122, 0.7);
}

.portfolio .item:hover .content {
  opacity: 1;
}

.portfolio .photo-1 {
  grid-row: span 3;
}

.portfolio .photo-2,
.portfolio .photo-6,
.portfolio .photo-7,
.portfolio .photo-8,
.portfolio .photo-9 {
  grid-row: span 2;
}

.portfolio .photo-3,
.portfolio .photo-5,
.portfolio .photo-4 {
  grid-row: span 5;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecf5ff;
}

.testimonials h2 {
  text-align: center;
}

.testimonials .owl-carousel {
  max-width: 300px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .testimonials .owl-carousel {
    max-width: 800px;
  }
}

.testimonials .content {
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (min-width: 600px) {
  .testimonials .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
  }
}

.testimonials .content img {
  border-radius: 50%;
  height: 120px;
  width: 120px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.testimonials .content .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials .content .right h2 {
  font-size: 24px;
  margin: 5px 0px;
}

@media (min-width: 600px) {
  .testimonials .content .right h2 {
    text-align: start;
  }
}

.testimonials .content .right h4 {
  font-weight: 400;
  font-size: 14px;
  color: #aaa;
}

.testimonials .content .right p {
  line-height: 1.4;
  font-style: italic;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team h2 {
  text-align: center;
}

.team .content {
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team .content .item {
  position: relative;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

@media (min-width: 600px) {
  .team .content .item {
    -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
  }
}

@media (min-width: 900px) {
  .team .content .item {
    -ms-flex-preferred-size: 21%;
        flex-basis: 21%;
  }
}

.team .content .item:hover .overlay {
  background-color: rgba(0, 123, 255, 0.5);
}

.team .content .item:hover .info {
  opacity: 1;
}

.team .content .item img {
  border-radius: 50%;
  display: block;
  width: 100%;
}

.team .content .item .overlay {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
}

.team .content .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin-top: 12px;
}

.team .content .item .info p:nth-child(1) {
  margin-bottom: 8px;
  font-weight: 700;
}

.team .content .item .info p:nth-child(2) {
  font-size: 12px;
  font-style: italic;
}

.clients {
  background-color: #ecf5ff;
}

.clients .container {
  margin: 0 auto;
}

.clients .container h2 {
  text-align: center;
}

.clients .container .flex-row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients .container .flex-row .item {
  max-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 64px;
  background-color: #fff;
  border: 1px solid #d6eaff;
  border-top: none;
}

@media (min-width: 500px) {
  .clients .container .flex-row .item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 900px) {
  .clients .container .flex-row .item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.clients .container .flex-row .item img {
  max-width: 100%;
  height: auto;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
}

.clients .container .flex-row .item:hover img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

footer {
  color: #fff;
  background-color: #004899;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1040px;
}

footer .container ul {
  margin-bottom: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

footer .container ul li {
  padding: 0 15px;
  margin-bottom: 16px;
}

footer .container ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

footer .container ul li i {
  cursor: pointer;
  font-size: 30px;
}

footer .container ul p {
  text-align: center;
}

.contact .container {
  max-width: 1140px;
  margin: 0 auto;
}

.contact .container h2 {
  margin: 50px 0;
}

.contact .container h2,
.contact .container p {
  text-align: center;
}

.contact .container p {
  margin-bottom: 65px;
}

.contact .container input,
.contact .container button {
  display: block;
}

.contact .container button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 25px;
  margin: 10px 5px;
  margin-top: 16px;
  margin-bottom: 130px;
  font-weight: 400;
  padding: 15px;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
  background-color: #007bff;
}

.contact .container button:hover {
  background-color: #0059b8;
}

.contact .container input,
.contact .container textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
}

.contact .container input {
  margin-bottom: 16px;
}

.contact .container input:focus {
  outline: 1px solid #007bff;
}

.contact .container textarea {
  height: 100%;
  resize: none;
}

.contact .container form {
  max-width: 700px;
  margin: 0 auto;
}

.contact .container .flex-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 500px) {
  .contact .container .flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 32px;
  }
}

.pink-text {
  color: #ff689b;
}

.yellow-text {
  color: #e9bf06;
}

.teal-text {
  color: #3fcdc7;
}

.green-text {
  color: #41cf2e;
}

.limeGreen-text {
  color: #d6ff22;
}

.blue-text {
  color: #4680ff;
}
/*# sourceMappingURL=main.css.map */